@import 'stat.scss';
[v-cloak] {
  display: none;
}
body {
  background-color: #E9EAFC;
}
.app {
  height: 100vh;
  width: 100%;
  position: relative;
}

.main {
  height: inherit;
  &__content {
    padding: 2rem 1rem 2rem 14rem;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__content.inner {
    align-items: flex-start;
    justify-content: flex-start;
  }
}
.aside {
  position: fixed;
  width: 210px;
  height: 100%;
  top: 0;  left: 0;
  transform: translateX(-160px);
  transition: transform 0.3s linear;
  display: flex;
  
  &__content-wrapper {
    flex: 1 1 auto;
    background-color: #fff;
  }
  
  &__menu-list li {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 50px;
    &:hover {
      text-decoration: underline;
    }
    a {
      color: #000000;
      line-height: 20px;
    }
  }
}

.aside.open {
  transform: translateX(0);
}

.aside__control {
  width: 50px;
  height: 100%;
  background-color: #6B78BC;
  padding-top: 50px;
}

.aside__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aside__logo{
  width: 100px;
  height: 100px;
}
.aside__logo img {
  width: 100%;
  height: 100%;
}

.aside__menu-list {
  flex: 1 1 auto;
  padding-top: 90px;
}


.aside__burger {
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  width: 28px;
  height: 24px;
}

.aside__burger.close {
  span {
    transform: scaleY(0);
  }
  &::after {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
  }

  &::before {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
}

.aside__burger::after,
.aside__burger::before {
  content: '';
}

.aside__burger span,
.aside__burger::after,
.aside__burger::before{
  border: 0;
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0;
  background-color: #fff;
}

.aside__burger::after {
  bottom: 0;
  transition: all 0.4s ease-in-out;
}

.aside__burger span {
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s ease-in-out;
}

.aside__burger::before {
  top: 0;
  transition: all 0.4s ease-in-out;
}

.register {
  &__title {
    margin-bottom: 40px;
  }

  &__sub-title {
    margin-bottom: 1.5rem;
    text-align: center;
    span {
      font-size: 10px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__submit-btn {
    display: block;
  }


  &__btns {
    display: flex;
    justify-content: space-between;
    margin: 0 -1rem;
  }
}

.title {
  font-size: 35px;
  font-weight: 700;
}

.sub-title {
  font-size: 12px;
}

.default__input-row {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  label {
    padding-right: 1rem;
  }
}

.default__input-row.justify-start {
  justify-content: flex-start;
  label {
    padding-right: 2rem;
  }
}

.default-label {
  font-size: 22px;
}

.default-input {
  font-size: 22px;
  padding: 0 5px;
  background-color: transparent;
  border-bottom: 1px solid #000;
  &:focus {
    box-shadow: 0px 7px 5px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 7px 5px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 5px -4px rgba(0,0,0,0.75);
  }
}

.default-submit-btn {
  display: block;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
  border: 1px solid #6B78BC;
  border-radius: 20px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgba(107, 120, 188, 0.5);
    color: #fff;
  }
}

.center-btn {
  margin: 0 auto;
}

.default-select {
  background-color: transparent;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.profile {
  &__title {
    margin-bottom: 2.5rem;
  }

  &__content {
    display: flex;
    margin: 0 -2.5rem;
    height: 100%;
  }

  &__column {
    padding: 0 2.5rem;
    &:last-child {
      border-left: 1px solid #000;
    }
  }

  &__count {
    font-size: 20px;
    margin-bottom: 1rem;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.none {
  display: none;
}

.main-banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
  }
}

.product {
  &__title {
    margin-bottom: 2.5rem;
  }

  &__content {
    display: flex;
    margin: 0 -2.5rem;
    height: 100%;
  }

  &__column {
    padding: 0 2.5rem;
    &:last-child {
      border-left: 1px solid #000;
    }
    .column-item {
      margin-bottom: 1rem;
    }
  }

  &__sub-title {
    margin-bottom: 1.5rem;
  }
}

.water {
  &__title {
    margin-bottom: 2.5rem;
  }
  &__progress-bar {
    margin-bottom: 2rem;
  }
}

.calorie-burn {
  &__title {
    margin-bottom: 2.5rem;
  }

  &__progress-bar {
    margin-bottom: 2rem;
  }
}


.stat-today {
  &__title {
    margin-bottom: 2.5rem;
  }
  &__columns {
    display: flex;
    margin: 0 -2rem;
  }
  &__column {
    padding: 0 2rem ;
  }
  .el-progress--circle {
    margin-bottom: 1.5rem;
  }
  &__nutritions-item {
    margin-bottom: 1rem;
  }
  &__table {
    display: flex;
    flex-direction: column;
  }
  &__table-column {
    margin-bottom: 1rem;
  }
  &__table-column-item ul {
    display: flex;
    margin: 0 -1rem;
    li {
      padding: 0 1rem;
    }
  }

  &__table-column-item {
    margin-bottom: 0.5rem;
  }

  &__nutritions-items {
    padding-left: 1rem;
  }

}

.small-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 1rem;
}